
*{
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    /* background-image:  */
}
.container{
    background-color: rgb(1, 1, 41);
    color: whitesmoke;
    padding: 1.5rem;
    border-radius: 2rem;
}

.billAmount, .cash {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btn-next, #check-amount {
    width: 6rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* Error message  */
#error-message-cash-amount, #error-message-bill-amount {
    color: red;
    font-size: 1.1rem;
}
#error-message-completed-transaction {
    color: green;
    font-size: 1.2rem;
}

/* Table  */
.table {
    border-radius: 2rem;
}

